<h1>This is totally an article!: <%= @article.id %></h1>
<p>
	<%= @article.title %>
</p>

<p>
	<%= @article.text %>
</p>


<h2>Comments</h2>
<% @article.comments.each do |comment| %>
	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
	</p>

	<p>
		<strong>Comment:</strong>
		<%= comment.body %>
	</p>
<% end %>

<h2> Add a Comment</h2>

<%= form_for([@article, @article.comments.build]) do |f| %>
	<p>
		<%= f.label :commenter %><br>
		<%= f.text_field :commenter %>
	</p>

	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %><br>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'EDIT', edit_article_path(@article) %> | 
<%= link_to 'BACK', articles_path %>
